<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context = "http://www.springframework.org/schema/context"
	xmlns:p = "http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class = "com.springcore.referencetype.BCCI" name = "bcciobj">
		
		<property name = "funds" value = "1Billion" />
	
	</bean>	
		
	
	<bean class = "com.springcore.referencetype.IPL" name = "iplobj" p:sponsor="Dream11" p:funds-ref="bcciobj"/>
	
		
<!-- 	<bean class = "com.springcore.referencetype.IPL" name = "iplobj"> -->
		
<!-- 		<property name = "sponsor" value = "Dream11" /> -->
<!-- 		<property name = "funds"> -->
		
<!-- 			<ref bean = "bcciobj"/> -->
			
<!-- 		</property> -->
	
<!-- 	</bean>	 -->
	
	

</beans>